/BasicEvaluation.class
/Define.class
/GenerateGradeReport.class
/GradeEvaluation.class
/MajorEvaluation.class
/School.class
/Score.class
/Student.class
/Subject.class
/TestMain.class
/projectPractice.class
